.header {
    padding: 24px 0 0 0;
    background-color: $colorBlack;
    width: 100%;
    z-index: 20;
    transition: all .8s ease;
    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
        &-end {
            display: flex;
            align-items: center;
            justify-content: end;
            gap: 30px;
        }
    }
    &__dillers {
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 30px;
        position: relative;
        &::after {
            content: '';
            position: absolute;
            top: 0;
            right: -30px;
            width: 1px;
            height: 30px;
            background-color: #858FA426;
        }
        &-link {
            @include fontRegular;
            font-size: 14px;
            line-height: 140%;
            letter-spacing: 0%;
            color: $grayColor;
        }
        &-partner {
            padding: 10px;
            @include flexCenter;
            @include fontBold;
            font-size: 14px;
            line-height: 100%;
            letter-spacing: 0%;
            color: $colorWhite;
            background-color: $grayColor2;
            border-radius: 10px;
        }
    }
    &__feedback {
        margin-left: 26px;
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 30px;
        position: relative;
        &::after {
           content: '';
            position: absolute;
            top: 0;
            right: -30px;
            width: 1px;
            height: 30px;
            background-color: #858FA426;
        }
        &-phone {
            display: block;
            @include fontMedium;
            font-size: 14px;
            line-height: 100%;
            letter-spacing: 0%;
            color: $colorWhite;
        }
        &-btn {
            @include fontRegular;
            font-size: 14px;
            line-height: 140%;
            letter-spacing: 0%;
            color: $colorRed;
            &:hover {
                color: $colorRedHover;
            }
        }       
    }
    &__user {
        margin-left: 30px;
        display: flex;
        align-items: center;
        justify-content: end;
        gap: 14px;
        cursor: pointer;
        &-text {
            display: block;
            @include fontRegular;
            font-size: 14px;
            line-height: 140%;
            letter-spacing: 0%;
            color: $colorWhite;
        }
    }
    &__catalog {
        background-color: $colorBlack2;
        padding: 7px 0;
        &-wrapper {
            display: flex;
            align-items: center;
            justify-content: start;
            gap: 19px;
        }
        &-chert {
            width: 1px;
            height: 30px;
            opacity: 1;
            border-radius: 1px;
            background-color: #FFFFFF26;
        }
        &-link {
            display: flex;
            align-items: center;
            justify-content: start;
            gap: 10px;
            &--text {
               @include fontRegular;
                font-size: 14px;
                line-height: 100%;
                letter-spacing: 0%;
                color: $colorWhite;
            }
        }
    }
}