@font-face {
  font-family: "Inter-black";
  src: url("../fonts/Inter-Black.woff2") format("woff2"), url("../fonts/Inter-Black.woff") format("woff"), url("../fonts/Inter-Black.ttf") format("truetype"), url("../fonts/Inter-Black.eot");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter-bold";
  src: url("../fonts/Inter-Bold.woff2") format("woff2"), url("../fonts/Inter-Bold.woff") format("woff"), url("../fonts/Inter-Bold.ttf") format("truetype"), url("../fonts/Inter-Bold.eot");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter-medium";
  src: url("../fonts/Inter-Medium.woff2") format("woff2"), url("../fonts/Inter-Medium.woff") format("woff"), url("../fonts/Inter-Medium.ttf") format("truetype"), url("../fonts/Inter-Medium.eot");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter-regular";
  src: url("../fonts/Inter-Regular.woff2") format("woff2"), url("../fonts/Inter-Regular.woff") format("woff"), url("../fonts/Inter-Regular.ttf") format("truetype"), url("../fonts/Inter-Regular.eot");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f7f7f7;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Inter-regular", Arial, Helvetica, sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
}

button {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  cursor: pointer;
}

label {
  display: block;
}

input {
  display: block;
  background-color: rgba(0, 0, 0, 0);
}

ul {
  list-style: none;
}

.body__container {
  position: relative;
  overflow: hidden;
}

.container {
  max-width: 1410px;
  margin: 0 auto;
}

.custom-logo {
  display: block;
  width: 397px;
  height: 30px;
}

.title {
  font-family: "Inter-bold", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 110%;
  letter-spacing: 0%;
  color: #1A1A25;
}

.header {
  padding: 24px 0 0 0;
  background-color: #1A1A25;
  width: 100%;
  z-index: 20;
}
.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}
.header__wrapper-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  gap: 30px;
}
.header__dillers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 30px;
  position: relative;
}
.header__dillers::after {
  content: "";
  position: absolute;
  top: 0;
  right: -30px;
  width: 1px;
  height: 30px;
  background-color: rgba(133, 143, 164, 0.1490196078);
}
.header__dillers-link {
  font-family: "Inter-regular", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0%;
  color: #909CB5;
}
.header__dillers-partner {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Inter-bold", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #fff;
  background-color: #384255;
  border-radius: 10px;
}
.header__feedback {
  margin-left: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 30px;
  position: relative;
}
.header__feedback::after {
  content: "";
  position: absolute;
  top: 0;
  right: -30px;
  width: 1px;
  height: 30px;
  background-color: rgba(133, 143, 164, 0.1490196078);
}
.header__feedback-phone {
  display: block;
  font-family: "Inter-medium", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #fff;
}
.header__feedback-btn {
  font-family: "Inter-regular", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0%;
  color: #F53B49;
}
.header__feedback-btn:hover {
  color: #ff8800;
}
.header__user {
  margin-left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  gap: 14px;
  cursor: pointer;
}
.header__user-text {
  display: block;
  font-family: "Inter-regular", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0%;
  color: #fff;
}
.header__catalog {
  background-color: #2A2C38;
  padding: 7px 0;
}
.header__catalog-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 19px;
}
.header__catalog-chert {
  width: 1px;
  height: 30px;
  opacity: 1;
  border-radius: 1px;
  background-color: rgba(255, 255, 255, 0.1490196078);
}
.header__catalog-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 10px;
}
.header__catalog-link--text {
  font-family: "Inter-regular", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #fff;
}

.subheader {
  padding: 20px 0;
  border-top: 1px solid rgba(133, 143, 164, 0.1490196078);
}
.subheader__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.subheader__searchs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: start;
  gap: 50px;
  position: relative;
}
.subheader__searchs::after {
  content: "";
  position: absolute;
  top: 0;
  right: -30px;
  width: 1px;
  height: 40px;
  background-color: rgba(133, 143, 164, 0.1490196078);
}
.subheader__searchs-menu {
  background-color: #F53B49;
  width: 127px;
  height: 49px;
  opacity: 1;
  gap: 6px;
  padding-top: 12px;
  padding-right: 20px;
  padding-bottom: 13px;
  padding-left: 20px;
  border-radius: 4px;
}
.subheader__searchs-menu:hover {
  background-color: #ff8800;
}
.subheader__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8px;
}
.subheader__menu-img {
  width: 16px;
  height: 16px;
  -o-object-fit: cover;
     object-fit: cover;
}
.subheader__menu-text {
  font-family: "Inter-bold", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #fff;
}
.subheader__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}
.subheader__nav-list > li {
  padding: 12px 14px 13px 14px;
}
.subheader__nav-list > li > a {
  font-family: "Inter-regular", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: center;
  color: #fff;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.subheader__nav-list > li > a:hover {
  color: #F53B49;
}
.subheader__elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  position: relative;
  gap: 30px;
}
.subheader__elements-comparison {
  position: relative;
}
.subheader__elements-comparison--count {
  position: absolute;
  top: -10px;
  right: -10px;
  border-radius: 100%;
  width: 16px;
  height: 16px;
  background-color: #F53B49;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Inter-regular", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  color: #fff;
}
.subheader__elements-favorites {
  position: relative;
}
.subheader__elements-favorites--count {
  position: absolute;
  top: -10px;
  right: -10px;
  border-radius: 100%;
  width: 16px;
  height: 16px;
  background-color: #F53B49;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Inter-regular", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  color: #fff;
}
.subheader__elements-cart--count {
  position: absolute;
  top: -10px;
  right: -10px;
  border-radius: 100%;
  width: 16px;
  height: 16px;
  background-color: #F53B49;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Inter-regular", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  color: #fff;
}
.subheader__elements-item {
  cursor: pointer;
}
.subheader__elements-item--icon {
  -o-object-fit: cover;
     object-fit: cover;
}

.main {
  padding: 41px 60px 120px 60px;
}
.main__bg {
  position: relative;
  height: 500px;
  width: 1800px;
  margin: 0 auto;
  background-image: url("../img/banner.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.main__title {
  position: absolute;
  top: 83px;
  left: 203px;
  font-family: "Inter-black", Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 110%;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: #F53B49;
}
.main__subtitle {
  font-family: "Inter-black", Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 49.55px;
  line-height: 110%;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: #1A1A25;
  width: 100%;
  max-width: 512px;
  position: absolute;
  top: 133px;
  left: 203px;
}
.main__subtitle > span {
  font-family: "Inter-regular", Arial, Helvetica, sans-serif;
  font-weight: 400;
}
.main__btn {
  width: 150px;
  height: 42px;
  opacity: 1;
  border-radius: 4px;
  gap: 10px;
  padding: 12px 20px 13px 20px;
  border: 1px solid #F53B49;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #F53B49;
  font-family: "Inter-bold", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  position: absolute;
  left: 203px;
  bottom: 80px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.main__btn:hover {
  -webkit-box-shadow: 1px 1px 10px #F53B49;
          box-shadow: 1px 1px 10px #F53B49;
}

.exerciser {
  padding: 0 0 120px 0;
}
.exerciser__title {
  margin-bottom: 30px;
}
.exerciser__grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
  gap: 30px;
  margin-bottom: 30px;
}
.exerciser__item {
  position: relative;
  width: 330px;
}
.exerciser__item-1 {
  grid-row-start: 1;
  grid-row-end: 3;
}
.exerciser__item-2 {
  grid-row-start: 1;
  grid-row-end: 3;
}
.exerciser__item-3 {
  grid-row-start: 1;
  grid-row-end: 2;
}
.exerciser__item-4 {
  grid-row-start: 1;
  grid-row-end: 2;
}
.exerciser__item-img {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.exerciser__item-img > img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.exerciser__item-title {
  position: absolute;
  top: 35px;
  left: 30px;
  font-family: "Inter-bold", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0%;
  color: #fff;
  width: 100%;
  max-width: 100px;
}
.exerciser__item-title--black {
  color: #1A1A25;
}
.exerciser__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}
.exerciser__wrapper-item {
  position: relative;
}
.exerciser__wrapper-item--title {
  position: absolute;
  top: 30px;
  left: 30px;
  font-family: "Inter-bold", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0%;
  color: #1A1A25;
  width: 100%;
  max-width: 150px;
}
.exerciser__link {
  display: block;
  width: 142px;
  height: 42px;
  opacity: 1;
  padding: 12px 15px 12px 15px;
  border-radius: 4px;
  border: 1px solid #F53B49;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Inter-bold", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #F53B49;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.exerciser__link:hover {
  -webkit-box-shadow: 0 0 10px #F53B49;
          box-shadow: 0 0 10px #F53B49;
}

.fitnes {
  padding: 0 0 30px 0;
}
.fitnes__title {
  margin-bottom: 30px;
}
.fitnes__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
  margin-bottom: 30px;
}
.fitnes__item {
  position: relative;
}
.fitnes__item-title {
  position: absolute;
  top: 30px;
  left: 30px;
  font-family: "Inter-bold", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0%;
  color: #1A1A25;
  max-width: 250px;
}
.fitnes__item-title--white {
  color: #fff;
}

.special {
  padding: 120px 0 100px 0;
}
.special__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 30px;
  margin-bottom: 30px;
}
.special__header-title {
  font-family: "Inter-bold", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0%;
  color: #828282;
}
.special__header-title--main {
  font-family: "Inter-bold", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 110%;
  letter-spacing: 0%;
  color: #1A1A25;
}
.special__header-btn {
  position: absolute;
}
.special__header-favourites {
  top: 20px;
  right: 15px;
}
.special__header-comparison {
  top: 20px;
  right: 43px;
}
.special__slider {
  margin-bottom: 30px;
}
.special__slider-item {
  position: relative;
  width: 300px;
  height: auto;
  background-color: #fff;
  border-radius: 6px;
}
.special__slider-item--img {
  width: 100%;
  height: 300px;
  border-radius: 6px;
}
.special__slider-item--img > img {
  width: 100%;
  height: 100%;
  border-radius: 6px;
}
.special__slider-header--img {
  width: 36px;
  height: 36px;
}
.special__slider-header--img > img {
  width: 100%;
  height: 100%;
}
.special__slider-header--percent {
  position: absolute;
  top: 10px;
  left: 10px;
}
.special__slider-header--like {
  position: absolute;
  top: 10px;
  left: 36px;
}
.special__slider-header--new {
  position: absolute;
  top: 10px;
  left: 62px;
}
.special__slider-status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 6px;
  padding: 20px;
  margin-bottom: 8px;
}
.special__slider-status--text {
  font-family: "Inter-medium", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #2FC509;
}
.special__slider-status--cyrcles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 2px;
}
.special__slider-status--cyrcle {
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background-color: #2FC509;
}
.special__slider-status--nobg {
  border: 1px solid #2FC509;
  background-color: #fff;
}
.special__slider-status--red {
  border: 1px solid #F53B49;
  background-color: #fff;
}
.special__slider-status--no {
  color: #F53B49;
}
.special__slider-status--few {
  color: #F99808;
}
.special__slider-status--orangebg {
  border: 1px solid #F99808;
  background-color: #F99808;
}
.special__slider-status--orange {
  border: 1px solid #F99808;
  background-color: #fff;
}
.special__slider-name {
  font-family: "Inter-regular", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #1A1A25;
  padding: 8px 20px 8px 20px;
}
.special__slider-rank {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 6px;
  padding: 8px 20px 16px 20px;
}
.special__slider-rank--title {
  font-family: "Inter-medium", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #909CB5;
}
.special__slider-rank--stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 2px;
}
.special__slider-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1px 20px 26px 20px;
}
.special__slider-price--new {
  font-family: "Inter-bold", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 136%;
  letter-spacing: 0%;
  color: #1A1A25;
}
.special__slider-price--old {
  font-family: "Inter-regular", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 136%;
  letter-spacing: 0%;
  text-decoration: line-through;
  color: #909CB5;
}
.special__slider-btn {
  width: 100%;
  max-width: 121px;
  height: 49px;
  padding: 12px 20px;
  gap: 6px;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #F53B49;
}
.special__slider-btn--text {
  font-family: "Inter-bold", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #fff;
}
.special__slider-btn:hover {
  background-color: #F99808;
}
.special__link {
  width: 100%;
  max-width: 188px;
  height: 42px;
  padding: 12px 20px;
  border-radius: 4px;
  border: 1px solid #F53B49;
  font-family: "Inter-bold", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #F53B49;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.special__link:hover {
  -webkit-box-shadow: 0 0 10px #F53B49;
          box-shadow: 0 0 10px #F53B49;
}

.slider__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: #fff;
  cursor: pointer;
}
.slider__btn-prev {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 20;
  -webkit-transform: translateY(-50%) rotate(180deg);
          transform: translateY(-50%) rotate(180deg);
}
.slider__btn-next {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 20;
}

.ideas {
  padding: 100px 0;
  background-color: #1A1A25;
}
.ideas__title {
  font-family: "Inter-bold", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 110%;
  letter-spacing: 0%;
  color: #fff;
  margin-bottom: 30px;
}
.ideas__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}
.ideas__item {
  position: relative;
  border-radius: 10px;
}
.ideas__item-title {
  position: absolute;
  top: 30px;
  left: 30px;
  font-family: "Inter-bold", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 110%;
  letter-spacing: 0%;
  color: #F2F2F2;
  margin-bottom: 15px;
}
.ideas__item-title > span {
  font-family: "Inter-black", Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0%;
  text-transform: uppercase;
}
.ideas__item-title--black {
  font-family: "Inter-black", Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 20px;
  line-height: 110%;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: #1A1A25;
  width: 227px;
}
.ideas__item-title--black > span {
  font-size: 20px;
  color: #F53B49;
}
.ideas__item-title--red {
  font-family: "Inter-black", Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 20px;
  line-height: 120%;
  text-transform: uppercase;
  color: #F53B49;
  width: 200px;
}
.ideas__item-title--red > span {
  font-family: "Inter-black", Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 20px;
  color: #1A1A25;
}
.ideas__item-time {
  position: absolute;
  top: 147px;
  left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}
.ideas__item-time--img {
  width: 98px;
  height: 106px;
  -o-object-fit: cover;
     object-fit: cover;
}
.ideas__item-time--title {
  font-family: "Inter-regular", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 114%;
  letter-spacing: 0%;
  color: #1A1A25;
  max-width: 138px;
}
.ideas__item-time--title > span {
  font-family: "Inter-bold", Arial, Helvetica, sans-serif;
  font-weight: 700;
}
.ideas__item-logo {
  position: absolute;
  left: 30px;
  bottom: 40px;
  width: 165px;
  height: 63px;
}
.ideas__item-logo > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.ideas__item-nautilus {
  position: absolute;
  left: 30px;
  top: 130px;
}
.ideas__compilation {
  width: 165px;
  height: 42px;
  padding: 12px 15px;
  border-radius: 4px;
  border: 1px solid #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Inter-bold", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  color: #fff;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.ideas__compilation:hover {
  -webkit-box-shadow: 0 0 10px #fff;
          box-shadow: 0 0 10px #fff;
}

.brends {
  padding: 120px 0 30px 0;
  border-bottom: 1px solid rgba(133, 143, 164, 0.2);
}
.brends__title {
  margin-bottom: 30px;
}
.brends__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}
.brends__header-item {
  font-family: "Inter-medium", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: #384255;
}
.brends__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 30px;
}
.brends__item {
  width: 282px;
  height: 170px;
  background-color: #fff;
  border: 1px solid rgba(133, 143, 164, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.brends__link {
  width: 125px;
  height: 42px;
  padding: 12px 20px;
  border-radius: 4px;
  border: 1px solid #F53B49;
  font-family: "Inter-bold", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  color: #F53B49;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.brends__link:hover {
  -webkit-box-shadow: 0 0 10px #F53B49;
          box-shadow: 0 0 10px #F53B49;
}

.help {
  padding: 120px 0;
}
.help__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}
.help__item {
  background-color: #fff;
  padding: 30px 0 40px 0;
  width: 352px;
  height: auto;
  border-radius: 10px;
  border: 1px solid rgba(133, 143, 164, 0.2);
}
.help__item-img {
  width: 72px;
  height: 72px;
  margin: 0 auto;
  margin-bottom: 20px;
}
.help__item-img > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.help__item-title {
  font-family: "Inter-black", Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: center;
  color: #1A1A25;
  margin: 0 auto;
  margin-bottom: 10px;
}
.help__item-title--red {
  font-family: "Inter-black", Arial, Helvetica, sans-serif;
  font-weight: 900;
  width: 170px;
  font-size: 20px;
  line-height: 120%;
  color: #fff;
  margin-bottom: 10px;
}
.help__item-descr {
  display: block;
  font-family: "Inter-regular", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #828282;
  width: 257px;
  margin: 0 auto;
  margin-bottom: 20px;
}
.help__item-descr--red {
  display: block;
  width: 170px;
  font-family: "Inter-regular", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #fff;
  margin-bottom: 20px;
}
.help__item-btn {
  display: block;
  font-family: "Inter-medium", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  color: #F53B49;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 8px;
  margin: 0 auto;
}
.help__item-btn--red {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 8px;
}
.help__item-text {
  display: block;
  font-family: "Inter-bold", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  color: #F53B49;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.help__item-text:hover {
  color: #F99808;
}
.help__item-text--red {
  font-family: "Inter-medium", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  color: #fff;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.help__item-text--red:hover {
  color: #F99808;
}
.help__item-red {
  position: relative;
  background-color: #F53B49;
  width: 352px;
  height: auto;
  padding: 30px 38px;
  border-radius: 10px;
}
.help__item-red--img {
  position: absolute;
  right: 0;
  bottom: -4px;
}

.about {
  padding: 60px 0 80px 0;
}
.about__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.about__text {
  width: 40%;
}
.about__title {
  margin-bottom: 40px;
}
.about__subtitle {
  font-family: "Inter-regular", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 34px;
  line-height: 140%;
  color: #384255;
  margin-bottom: 20px;
}
.about__paragraph {
  font-family: "Inter-regular", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #384255;
  margin-bottom: 40px;
}
.about__btn {
  width: 204px;
  height: 42px;
  padding: 12px 15px;
  gap: 10px;
  border-radius: 4px;
  border: 1px solid #F53B49;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Inter-bold", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  color: #F53B49;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.about__btn:hover {
  -webkit-box-shadow: 0 0 10px #F53B49;
          box-shadow: 0 0 10px #F53B49;
}
.about__img {
  width: 55%;
}

.partner {
  padding: 0 0 120px 0;
  background-color: #1A1A25;
}
.partner__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.partner__img {
  width: 484px;
  height: 390px;
}
.partner__img > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.partner__info {
  width: 50%;
}
.partner__info-title {
  font-family: "Inter-medium", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 36px;
  line-height: 120%;
  color: #fff;
  margin-bottom: 30px;
}
.partner__info-title > span {
  font-family: "Inter-medium", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 36px;
  line-height: 120%;
  color: #F53B49;
}
.partner__info-btn {
  display: block;
  width: 163px;
  height: 42px;
  top: 12px 20px;
  border-radius: 4px;
  border: 1px solid #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Inter-bold", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  color: #fff;
}

.news {
  padding: 120px 0;
}
.news__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 30px;
  margin-bottom: 30px;
}
.news__header-blog {
  font-family: "Inter-black", Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 20px;
  line-height: 120%;
  color: #828282;
}
.news__item {
  border-radius: 6px;
  width: 315px;
  min-height: 440px;
}
.news__item-img {
  width: 100%;
  height: 260px;
  margin-bottom: 20px;
}
.news__item-img > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 6px;
}
.news__item-title {
  font-family: "Inter-black", Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 20px;
  line-height: 120%;
  color: #384255;
  margin-bottom: 10px;
  width: 75%;
}
.news__item-subtitle {
  font-family: "Inter-regular", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #384255;
  width: 75%;
  margin-bottom: 10px;
}
.news__item-date {
  font-family: "Inter-regular", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #828282;
  width: 75%;
}
.news__btn-next {
  position: absolute;
  top: 30%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 20;
  cursor: pointer;
}
.news__wrapper {
  margin-bottom: 30px;
}
.news__link {
  width: 128px;
  height: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 4px;
  border: 1px solid #F53B49;
  font-family: "Inter-bold", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  color: #F53B49;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.news__link:hover {
  -webkit-box-shadow: 0 0 10px #F53B49;
          box-shadow: 0 0 10px #F53B49;
}

.footer {
  padding: 80px 0 60px 0;
  background-color: #1A1A25;
}
.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid rgba(133, 143, 164, 0.1490196078);
  padding-bottom: 30px;
}
.footer__menus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 30px;
}
.footer__menu {
  width: 210px;
}
.footer__menu-title {
  font-family: "Inter-medium", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: #fff;
  margin-bottom: 30px;
}
.footer__menu-list > li {
  margin-bottom: 12px;
  position: relative;
}
.footer__menu-list > li > a {
  font-family: "Inter-medium", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: #828282;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.footer__menu-list > li > a:hover {
  color: #fff;
}
.footer__feedback-subscribe {
  width: 255px;
  height: 48px;
  border-radius: 5px;
  background-color: rgba(133, 143, 164, 0.1490196078);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 19px;
  margin-bottom: 50px;
}
.footer__feedback-subscribe--text {
  font-family: "Inter-regular", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #858FA4;
}
.footer__feedback-box {
  margin-bottom: 50px;
}
.footer__feedback-phone {
  display: block;
  font-family: "Inter-medium", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #858FA4;
  margin-bottom: 8px;
}
.footer__feedback-btn {
  display: block;
  font-family: "Inter-regular", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #fff;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.footer__feedback-btn:hover {
  color: #F53B49;
}
.footer__feedback-btn--first {
  margin-bottom: 23px;
}
.footer__feedback-mail {
  display: block;
  font-family: "Inter-medium", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #858FA4;
  margin-bottom: 8px;
}
.footer__feedback-policy--link {
  display: block;
  font-family: "Inter-regular", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #4B7EE8;
  margin-bottom: 7px;
}
.footer__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 50px 0 17px 0;
}
.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 10px;
}
.footer__dillers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 30px;
}
.footer__dillers-btn--partner {
  width: 142px;
  height: 37px;
  border-radius: 6px;
  padding: 10px;
  background-color: #384255;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Inter-bold", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  color: #fff;
}
.footer__dillers-btn--diller {
  width: 112px;
  height: 37px;
  border-radius: 6px;
  border: 1px solid rgba(144, 156, 181, 0.5019607843);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Inter-bold", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  color: rgba(144, 156, 181, 0.5019607843);
}
.footer__pay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  gap: 30px;
}
.footer__copyright {
  font-family: "Inter-regular", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #858FA4;
}/*# sourceMappingURL=style.css.map */