$colorRed: #F53B49;
$colorRedHover: #ff8800;
$colorWhite: #fff;
$colorWhite2: #f7f7f7;
$colorWhite3: #F2F2F2;
$colorBlack: #1A1A25;
$colorBlack2: #2A2C38;
$grayColor: #909CB5;
$grayColor2: #384255;
$grayColor3: #828282;
$grayColor4: #858FA433;
$greenColor: #2FC509;
$orangeColor: #F99808