.body__container {
    position: relative;
    overflow: hidden;
}
.container {
    max-width: 1410px;
    margin: 0 auto;
}
.custom-logo {
    display: block;
    width: 397px;
    height: 30px;
}
.title {
    @include fontBold;
    font-size: 30px;
    line-height: 110.00000000000001%;
    letter-spacing: 0%;
    color: $colorBlack;
}