@mixin flexStart {
    display: flex;
    align-items: start;
    justify-content: start;
}
@mixin flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin flexEnd {
    display: flex;
    align-items: end;
    justify-content: end;
}
@mixin flexCenterStart {
    display: flex;
    align-items: center;
    justify-content: start;
}
@mixin flexStartCenter {
    display: flex;
    align-items: start;
    justify-content: center;
}
@mixin fontRegular {
    font-family: 'Inter-regular', Arial, Helvetica, sans-serif;
    font-weight: 400;
}
@mixin fontMedium {
    font-family: 'Inter-medium', Arial, Helvetica, sans-serif;
    font-weight: 500;
}
@mixin fontBold {
    font-family: 'Inter-bold', Arial, Helvetica, sans-serif;
    font-weight: 700;
}
@mixin fontBlack {
    font-family: 'Inter-black', Arial, Helvetica, sans-serif;
    font-weight: 900;
}