html, body {
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter-regular', Arial, Helvetica, sans-serif;
    font-weight: 400;
}
a {
    text-decoration: none;
}
button {
    transition: all .4s ease;
    background-color: #00000000;
    border: none;
    cursor: pointer;
}
label {
    display: block;
}
input {
    display: block;
    background-color: #00000000;
}
ul {
    list-style: none;
}